<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Italk - Cadastro</title>
    <link rel="stylesheet" href="../assets/css/estilo.css" type="text/css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/css/style.min.css">
    <link rel="stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="../stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/@coreui/icons/css/coreui-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
</head>

<body>
    <!-- barra de navegação -->
    <header id="cabecalho">
        <a href="index.html"> <span id="logo">iTALK</span></a>
        <nav id="barra-navegacao">
            <a class="link" href="index.html">INICIO</a></li>
            <a class="link" href="cadastro.html">CADASTRE-SE</a>
        </nav>
    </header>
    <main class="col-md-12">
        <div class="row centro">  
            <div class="" id= "avisos">

            </div>  
        </div>
        <div class="row tela-cadastro centro">
            <div class="col-md-8">
                <div class="card" id="ui-view">
                    <div>
                        <div class="card-header">
                            <i class="icon-note"></i>Formulário de Cadastro
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="center" name="CadastroUsuario">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="nome">NOME</label>
                                        <input type="text" id="nome" placeholder="Informe seu  Nome" autofocus>
                                    </div>
                                    <div>
                                        <label for="email">EMAIL</label>
                                        <input type="email" id="email" placeholder="Informe seu email">
                                    </div>
                                    <div>
                                        <label for="senha">SENHA</label>
                                        <input type="password" id="senha" placeholder="Informe sua Senha">
                                    </div>
                                    <div>
                                        <label for="confirmasenha">SENHA</label>
                                        <input type="password" id="confirmasenha"
                                            placeholder="Informe sua Senha Novamente">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="usuario">USUARIO</label>
                                        <input type="text" id="usuario" placeholder="Informe seu Login">
                                    </div>
                                    <div>
                                        <label for="data-nasc">Data de Nascimento</label>
                                        <input type="date" id="data-nasc">
                                    </div>
                                </div>
                            </div>
                            <div id="btn-cadastrar" class="btn-success">Cadastrar</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/Library.js"></script>
    <script src="../assets/js/cadastro.js"></script>
</body>

</html>