<html lang="pt-br">

<head>
    <script src="../assets/js/sessionUser.js"></script>
    <meta charset="utf-8">
    <title>Italk - Home</title>
    <link rel="stylesheet" href="../assets/css/estilo.css" type="text/css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/css/style.min.css">
    <link rel="stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="../assets/coreui-free-bootstrap-admin-template-master/vendors/@coreui/icons/css/coreui-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">

</head>

<body id="corpo">
    <!-- barra de navegação -->
    <header class="navbar" id="cabecalho">
        <a href="index.html" class="navbar-brand"> <span id="logo">iTALK</span></a>
        <nav id="barra-navegacao">
            <div id="btn-sair" onclick="Sair();">
                <span id="nome-usuario"> </span>
                <i class=" icon-logout icons font-2xl"></i>
                <span>Sair</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row " id="painel-contatos">
                <div class="col-sm-4 list-group" id="lista-contatos">
                    <nav class="navbar  border-bottom ">
                        <span class="navbar-brand btn" id="painel-meus-contatos">Contatos</span>
                        <i class="icons font-2xl cui-user-follow btn" id="painel-adicionar"> </i>
                    </nav>
                    <ol class="nav flex-column" id="ListaAmigos"></ol>
                    <ol class="nav flex-column" id="ListaNovosContatos"></ol>
                </div>
                <div class="col-sm-8" id="conversa">
                    <nav class="navbar border-bottom ">
                        <span class="navbar-brand ">Conversa</span>
                    </nav>
                    <div id="conteudo-conversa">

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group-prepend">
                                <input class="form-control" placeholder="Digite uma mensagem" id="inputMensagem"
                                    type="text">
                                <span class="input-group-text" id="span-btn-enviar">
                                    <i class="icon-paper-plane icons font-2xl" id="BotaoEnviar"
                                        onclick="EnviarMensagem();"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/baseChat.js"></script>
    <script src="../assets/js/Library.js"></script>
    <script src="../assets/js/home.js"></script>
    <script src="../assets/js/requisicoes.js"></script>

</body>

</html>