<html lang="pt-br">

<head>
    <script src="../assets/js/sessionUser.js"></script> 
    <meta charset="utf-8">
    <title>Italk - Cadastro</title>
    <link rel="stylesheet" href="../assets/css/estilo.css" type="text/css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/css/style.min.css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/coreui-free-bootstrap-admin-template-master/vendors/@coreui/icons/css/coreui-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
  
</head>

<body>
    <!-- barra de navegação -->
    <header id="cabecalho">
        <a href="index.html"> <span id="logo">iTALK</span></a>
        <nav id="barra-navegacao">
            <a class="link" id="btn-sair" href="index.html">SAIR</a>
        </nav>
    </header>
    <main id="tela-home">
        <div id="painel-contatos">
            <h1 id="CorA">Amigos</h1>
            <div id="BotaoPes">
                <div class="input-group mb-3">
                    <input id="nome" class="form-control" type="text" placeholder="Pesquisar Amigo"">
                </div>
            </div>
        </div>

        <div id="LadoDireito">
            <h1 style="text-align: center">Conversas</h1>
        </div>
    </main>
    <footer>

    </footer>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/baseChat.js"></script>
    <script src="../assets/js/Library.js"></script>
    <script src="../assets/js/home.js"></script>
    
</body>

</html>