* {
    padding: 0px;
    margin: 0px
}
#cabecalho {
    height: 100px;
    background: rgb(4, 14, 109)
}
body{height: 100%;}
#logo {
    margin-left: 150px;
    padding: 20px;
    font-size: 50px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
    font-stretch: normal;
    cursor: pointer;
}

#barra-navegacao {
    margin-top: 45px;
    float: right;
    margin-right: 150px;
    
}

.link {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-right: 40px;
    padding: 10px;
    font-stretch: 700;
}

.link:hover {
    background: #fff;
    color: rgb(4, 14, 109);
    border-radius: 4px 4px 4px 4px;
}

#tela-login {

    padding: 40px;
    float: right;
    margin-right: 150px;
    margin-top: 50px;
    box-shadow:2px 3px 18px #000;
    opacity: 0.9;
}
#conteudo-boas-vindas img{
    width: 500px;
    height: 200px;
    float: left;
    margin:100px;
}
#tela-login a{
    display: block;
    margin-top: 10px;
    color:rgb(12, 12, 17);
    text-decoration: none}
label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(49, 14, 87)
}
input {
    width: 280px;
    height: 50px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 2px 2px 2px;
}

button{border:none;}
.btn-success{
    width: 80px;
    height: 40px;
    background-color: rgb(25, 55, 185);
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}   
.btn-erro{
    width: 80px;
    height: 40px;
    background-color: rgb(145, 44, 44);
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}   


input:focus {
    border: 2px solid rgb(49, 14, 87);
    box-shadow: 1px 1px 5px #000
}

#input-rota {
    width: 700px;
    margin-left: 28%;
    margin-top: 10px;
}

.campo-rota {
    display: inline-block;
    padding: 4px
}



input::placeholder {
    color: rgb(49, 14, 87);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px
}

.aviso {
    font-size: 14px;
    display: block
}

.color-sucesso {
    color: green
}

;

.color-erro {
    color: red
}

#btn-buscar-rota {
    width: 150px;
    height: 50px;
    background: rgb(9, 60, 156);
    border: none;
    border-radius: 2px 2px 2px;
    color: cornsilk;
    font-size: 15px;
    cursor: pointer;
    padding: 3px;

}



#btn-buscar-rota:hover {
    background-color: rgb(6, 39, 102);
}

#conteudo-rotas {
    visibility: hidden;
    margin-top: 2%;
    margin-left: 24%;
    box-sizing: border-box;
    width: 800px;
    height: 100px;
    border: 1px solid;
    color: rgb(49, 14, 87);
    font-size: 12px;
}

footer {
    float: left;
    position: relative;
    background: rgb(102, 101, 102);
    margin-top:50px;
    width: 100%;
    height: 180px;
    color: rgb(216, 213, 224);
}

footer div h4 {
    font-size: 20px;
    font-stretch: inherit;
    font-weight: 7 00px;
    padding: 15px
}